
.service-bg{
    background: url('../../../assets/banner-video/what-we-provide-bg.png');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}

.service-title{
    color: #939496;
}