
.service-bg{
    background: url('../../../assets/banner-video/what-we-provide-bg.png');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}

.service-title{
    background: linear-gradient(100deg, rgb(61, 204, 248) 25%, rgb(248, 38, 101) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}