
 .banner-title h3{
    color: #F0EFF4;
    font-family: 'PP Neue Montreal', sans-serif;
                                              
} 
.banner-title p{

    color: #F0EFF4;
    font-family: 'PP Neue Montreal', sans-serif;
   
}


.slider__item-01{
    background: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)), url('../../../assets/banner-image/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}

.slider__item-02{
    background: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)), url('../../../assets/banner-image/banner-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    
    
}

.slider__item-03{
    background: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)), url('../../../assets/banner-image/web.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}
.slider__item-04{
    background: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)), url('../../../assets/banner-image/banner-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
   
}
.slider__item-05{
    background: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)), url('../../../assets/banner-image/banner-4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
   
}



@media only screen and (max-width: 992px){
    .slider__item{
        height: 530px;
        width: 100%;
    }

    .slider__content{
        margin-top: -70px;
    }

    .slider__content h1{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px){
    .slider__item{
        height: 450px;
    }

    .slider__content h1{
        font-size: 1.5rem;
    }
}